/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 52px
}

img {
  max-width: 100%;
}

p.lead {
  margin-top:20px; 
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  text-align: center;
  border-bottom: 4px solid gold;
  background-color: #44337A;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 3px 3px 10px 0 #999;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
}

@media screen and (min-width: 768px) {
  .jumbotron h1, .jumbotron .h1 {
  font-size: 82px;
  }
}

@media screen and (max-width: 400px) {
  .jumbotron h1, .jumbotron .h1 {
  font-size: 38px;
  }
}

.card {
  box-shadow: 3px 3px 10px 0 #999;
  border-radius: 6px;
  margin: 0 0 18px;
  padding: 0;
}

.card h3{
  background-color: #44337A;
  border-bottom: 4px solid gold;
  color: #fff;
  margin: 0;
  border-radius: 6px 6px 0 0;
  padding: 4px 8px;
}

.card .contents {
  padding: 8px;
  white-space: pre;
}

.card p.major {
  padding: 0 8px 4px;
  margin: 0;
  color: lightgrey;
}

.form-actions {
  margin-top: 28px;
}

.form-actions .cancel {
  margin-right: 10px;
}

.btn-purple {
  background: #44337a;
  color: #fff;
  border: 1px solid transparent;
  border-top-color: #7c70a2;
}

.btn-purple:hover, .btn-purple:focus {
  background: #483681;
  border-top-color: #7f72a7;
  color: #fff;
}

.show-form {
  position: relative;
  top: -15px;
}

.bg-success {
  background-color: #dff0d8;
  padding: 10px;
  font-size: 20px;
}